# =========================
# Python Backend
# =========================

backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.*

# Gmail OAuth Secrets
backend/token.json
backend/credentials.json

# Logs
logs/
*.log

# =========================
# React Native / Expo
# =========================

mobile-app/node_modules/

mobile-app/.expo/
mobile-app/dist/
mobile-app/web-build/

mobile-app/expo-env.d.ts

# Metro
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated Native Folders
mobile-app/android/
mobile-app/ios/

# =========================
# Typescript
# =========================

*.tsbuildinfo

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# npm / yarn debug
# =========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build Files
# =========================

build/
dist/

# =========================
# Supabase
# =========================

backend/supabase/.temp/

# =========================
# Claude / AI tooling
# =========================

.claude/
CLAUDE.md


